Repository hantsy/react-spring-mongo-kotlin, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, client

.github/labeler.yml:

# Add 'backend' label
backend:
  - api/**/*

# Add 'client' label
client:
  - ui/**/*

chore: initial codes
  api/pom.xml
  api/src/main/kotlin/com/example/demo/DemoApplication.kt
  api/src/test/kotlin/com/example/demo/PersonRepositoryTest.kt
  api/src/test/kotlin/com/example/demo/PersonRouterTest.kt
Labels: backend

chore: initial ui codes
  api/src/main/kotlin/com/example/demo/DemoApplication.kt
  ui/.eslintrc.json
  ui/.gitignore
  ui/README.md
  ui/package-lock.json
  ui/package.json
  ui/public/favicon.ico
  ui/public/index.html
  ui/public/logo192.png
  ui/public/logo512.png
  ui/public/manifest.json
  ui/public/robots.txt
  ui/src/App.css
  ui/src/App.test.tsx
  ui/src/App.tsx
  ui/src/AppNavbar.tsx
  ui/src/Home.tsx
  ui/src/Model.tsx
  ui/src/PersonEdit.tsx
  ui/src/PersonList.tsx
  ui/src/index.css
  ui/src/index.tsx
  ui/src/logo.svg
  ui/src/react-app-env.d.ts
  ui/src/reportWebVitals.ts
  ui/src/setupTests.ts
  ui/tsconfig.json
Labels: backend, client

chore: clean codes
  api/src/main/kotlin/com/example/demo/DemoApplication.kt
  api/src/test/kotlin/com/example/demo/IntegrationTests.kt
  api/src/test/kotlin/com/example/demo/PersonRouterTest.kt
Labels: backend

Update build-backend.yml
  .github/workflows/build-backend.yml
Labels: none

Update build-client.yml
  .github/workflows/build-client.yml
Labels: none

chore: clean codes
  api/src/test/kotlin/com/example/demo/IntegrationTests.kt
Labels: backend

chore: clean codes
  api/src/main/kotlin/com/example/demo/DemoApplication.kt
  api/src/test/kotlin/com/example/demo/IntegrationTests.kt
  api/src/test/kotlin/com/example/demo/PersonRouterTest.kt
  api/src/test/kotlin/com/example/demo/PostRepositoryTest.kt
  ui/src/App.tsx
  ui/src/AppNavbar.tsx
  ui/src/Home.tsx
  ui/src/Model.tsx
  ui/src/PersonEdit.tsx
  ui/src/PersonList.tsx
Labels: backend, client

chore: clean codes
  ui/src/ErrorPage.tsx
  ui/src/contacts/AppNavbar.tsx
  ui/src/contacts/ContactEditPage.tsx
  ui/src/contacts/ContactList.tsx
  ui/src/contacts/ContactListPage.tsx
  ui/src/contacts/ContactService.tsx
  ui/src/contacts/ContactsLayout.tsx
  ui/src/contacts/Model.tsx
  ui/src/contacts/PaginatedResult.tsx
  ui/src/contacts/Paginator.tsx
  ui/src/contacts/SearchBox.tsx
  ui/src/contacts/index.tsx
  ui/src/home/HomeLayout.tsx
  ui/src/home/HomePage.tsx
  ui/src/home/index.tsx
Labels: client

chore: clean codes
  ui/.eslintrc.json
  ui/.gitignore
  ui/package-lock.json
  ui/package.json
  ui/src/App.tsx
  ui/src/contacts/ContactService.tsx
  ui/src/contacts/index.tsx
  ui/tsconfig.json
Labels: client

chore: clean codes
  ui/.editorconfig
  ui/.eslintignore
  ui/.prettierignore
  ui/.prettierrc
  ui/index.html
  ui/nx.json
  ui/project.json
  ui/tsconfig.app.json
  ui/tsconfig.base.json
  ui/tsconfig.spec.json
  ui/vite.config.js
Labels: client

chore: clean codes
  ui/package-lock.json
  ui/project.json
  ui/src/ErrorPage.tsx
  ui/src/contacts/AppNavbar.tsx
  ui/src/contacts/ContactListPage.tsx
  ui/tsconfig.base.json
Labels: client

chore: clean codes
  ui/.gitignore
  ui/.prettierignore
  ui/nx.json
  ui/package-lock.json
  ui/package.json
  ui/project.json
  ui/tsconfig.base.json
Labels: client

chore: clean codes
  ui/.gitignore
  ui/.prettierignore
  ui/migrations.json
  ui/nx.json
  ui/package-lock.json
  ui/package.json
  ui/project.json
  ui/tsconfig.base.json
Labels: client

chore: clean codes
  ui/migrations.json
  ui/package-lock.json
  ui/package.json
Labels: client

Create techstack.yml
  techstack.yml
Labels: none

Create techstack.md
  techstack.md
Labels: none
